body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;

}

.container{
    flex:1;
   
}


/* Navbar */
.navbar{
    height:5rem;
    background-color: rgb(250, 248, 248);
}
.fa-compass{
    color:#fe424d;
    font-size:2rem;
}
.nav-link{
    color:#222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color:#222222;
    margin: 0.2rem;

} 
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links ,
.f-info-socials,
.f-info-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
   
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
border:none !important;
margin-bottom: 2rem;


}

.card-img-top{
    border-radius: 1.5rem !important;
    width:100% !important;
    object-fit: cover !important;

}


.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card-effect */

.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color:rgb(250, 250, 250);
}
/* new page */
.add-btn,.edit-btn{
    background-color:#fe424d !important;
border:none !important;
}

.add-btn:hover{
    opacity: 0.8;
}

/* show page */

.show-img{
    background-image: cover;
 height:45vh;

}
.list-details{
   margin: auto;
    list-style: none;
    padding:0

}

.listing-container{
    display: flex;
    flex-direction: column;
  align-items: center;}
  

.list-btns{
    display:flex
}

.card-body{
    border: none;
}

/* map */
#map{
    height: 350px;
    width:80vh;
    border-radius: 10px;
}


